* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-light {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rosybrown;

}
.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .nav-link {
  color: #24201a;
  font-family: "MonteCarlo", serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-transparent .nav-link:hover {
  color: #b89c6b;
}

body {
  font-family: "'Georgia', serif";
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #897e7e;
  line-height: 1.6;
  margin: 20px;
  padding: 0 20px;
}

section {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.site-header {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 80px;
  padding-bottom: 20px;
}

.site-header h1 {
  font-family: "montecarlo", cursive;
  font-size: 5rem;
  font-style: italic;
  color: #7a6e58;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  text-align: center;
  padding: 40px 25px;
  margin-top: 10px;
  border-radius: 10px;
  border-style:double;
}

.hero img {
  border-radius: 50px;
  margin-bottom: 20px;
  max-width:100%;
  height: auto;
}

.hero h2 {
  font-size: 3rem;
  font-family: "montecarlo", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #7a6e58;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.3rem;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #897e7e;
  margin-bottom: 10px;
} 

.spa-menu {
  padding: 40px 20px;
  margin: 25px 0;
}

.spa-menu h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #7a6e58;
}

.spa-menu h3 {
  margin-top: 30px;
  color: #897e7e;

}
.spa-menu ul {
  margin-left: 20px;
  margin-bottom: 30px;
}

.spa-menu img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

#wellness {
  text-align: center;
  padding: 40px 25px;
  margin-top: 10px;
  border-radius: 10px;
  border-style:double;
}

#wellness h2 {
  color: #685b4c;
  text-align: center;
  margin-bottom: 30px;
}

#wellness h3 {
  color: #897e7e;
  margin-top: 20px;
}

.carousel {
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.blockquote p {
  font-size: 1.5rem;
  color: #e2d1d1;
}

.blockquote-footer {
  font-style: italic;
  color: #7a6e58;
}

#book-appointment {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0px;
  border-top: 4px double #706e69;
  border-bottom: 4px double #706e69;
}

#book-appointment h2 {
  color:#7a6e58;
  text-align: center;
  margin: 30px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-row {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #897e7e;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(188, 143, 143, 0.69);
  border: 1px solid #ccc;
  border-radius: 6px;
}

fieldset {
  border: 1px solid #cccccc74;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}

legend {
  font-weight: bold;
  color: #7a6e58;
}

.submit-button {
  background-color: rosybrown;
  color: #e2d1d1;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(127, 98, 98);
}

.site-footer {
  text-align: center;
  padding: 20px;
  color: #7a6e58;
  font-size: 0.9rem;
  margin-top: 40px;
}