* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #897e7e;
  line-height: 1.6;
  padding: 0 20px;
}